$primary-font: Roboto, Arial, sans-serif;

$primary-color: #39393d;
$primary-color-light: #ededee;

$secondary-color: #ffdf57;

$error: #ff5a5a;
$success: #5aff9c;

$black: #000;
$white: #fff;
$grey: #999;
$pale-grey: #f4f3f5;
$grey-bg: #f4f4f6;
$medium-grey: #dddddd;
$medium-grey-2: #e8e9eb;
$filter-grey: #ebe9ed;
$dark-grey: #333;
$header-dark-bg: rgba($color: #0b0611, $alpha: .7);
